HELP.md
/support-robot-spring/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/support-robot-spring/nbproject/private/
/support-robot-spring/nbbuild/
/support-robot-spring/dist/
/support-robot-spring/nbdist/
/support-robot-spring/.nb-gradle/
/support-robot-spring/build/

### VS Code ###
.vscode/
