<link href="//netdna.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" />
<div class="jumbotron flex-grow">
   <div class="container">
      <div class="row">
         <div class="col-md-6 offset-md-3">
            <h3>Create new support request</h3>
            <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
            <br>
            <div class="form-group">
               <label for="requestType">Request Type:</label>
               <select  class="form-control" name="requestType" [(ngModel)]="model.requestType" #subject="ngModel" id="requestType" required>
               <option value="1">Log request</option>
               <option value="2">Session Disconnection reason</option>
			   <option value="3">Session Information</option>
               </select>
            </div>
			<div *ngIf="model.requestType!=2">
            <div class="form-row">
               <div class="col">
                  <div class="form-group">
                     <label for="from">From:</label><br>
                     <mat-form-field>
                        <input matInput [matDatepicker] = "picker" placeholder = "Choose a start date" name="startDate" [(ngModel)]="model.startDate">
                        <mat-datepicker-toggle matSuffix [for] = "picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                     </mat-form-field>
                  </div>
               </div>
               <div class="col">
                  <div class="form-group">
                     <label for="to">To:</label><br>
                     <mat-form-field>
                        <input matInput [matDatepicker] = "picker1" placeholder = "Choose an end date" name="endDate" [(ngModel)]="model.endDate">
                        <mat-datepicker-toggle matSuffix [for] = "picker1"></mat-datepicker-toggle>
                        <mat-datepicker #picker1></mat-datepicker>
                     </mat-form-field>
                  </div>
               </div>
            </div>
			</div>
			<div class="form-group" *ngIf="model.requestType!=2">
				<label for="msgTypes">Select message type:</label>
				<select multiple class="form-control" id="msgTypes" name="msgTypes" [(ngModel)]="model.msgTypes" #subject="ngModel">
				  <option value="D">New Order Single [35=D]</option>
				  <option value="G">Order Replace Request [35=G]</option>
				  <option value="F">Order Cancel Request [35=F]</option>
				  <option value="8">Execution Report [35=8]</option>
				</select>
			</div>
			 <div class="form-group">
               <label for="requestType">FIX Sessions:</label>
               <select  class="form-control" name="fixSession" [(ngModel)]="model.fixSession" #subject="ngModel" id="fixSession" required>
               <option>ITIVITI~CITI</option>
               <option>CLIENT~SERVER</option>
               </select>
            </div>
        <!--    <div class="form-group">
               <label for="subject">Subject: </label>
               <input type="text" class="form-control" name="firstName" [(ngModel)]="model.subject" #subject="ngModel" [ngClass]="{ 'is-invalid': f.submitted && subject.invalid }" required />
               <div *ngIf="f.submitted && subject.invalid" class="invalid-feedback">
                  <div *ngIf="subject.errors.required">Subject is required</div>
               </div>
            </div>
            <div class="form-group">
               <label for="description">Description:</label>
               <textarea class="form-control" name="description" [(ngModel)]="model.description" #lastName="ngModel" [ngClass]="{ 'is-invalid': f.submitted && description }" required ></textarea>
               <!-- <div *ngIf="f.submitted && !description" class="invalid-feedback">
                  <div *ngIf="description.errors.required">Description is required</div>
                  </div>
            </div>
            <div class="form-group">
               <label for="email">Email:</label>
               <input type="text" class="form-control" name="email" [(ngModel)]="model.email" #email="ngModel" [ngClass]="{ 'is-invalid': f.submitted && email.invalid }" required email />
               <div *ngIf="f.submitted && email.invalid" class="invalid-feedback">
                  <div *ngIf="email.errors.required">Email is required</div>
                  <div *ngIf="email.errors.email">Email must be a valid email address</div>
               </div>
            </div>
            <div class="form-group">
               <label for="password">Password</label>
               <input type="password" class="form-control" name="password" [(ngModel)]="model.password" #password="ngModel" [ngClass]="{ 'is-invalid': f.submitted && password.invalid }" required minlength="6" />
               <div *ngIf="f.submitted && password.invalid" class="invalid-feedback">
                   <div *ngIf="password.errors.required">Password is required</div>
                   <div *ngIf="password.errors.minlength">Password must be at least 6 characters</div>
               </div>
               </div> -->
            <div class="form-group">
               <button class="btn btn-dark">Submit request</button>
            </div>
            </form>
         </div>
      </div>
   </div>
</div>